<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginPage</servlet-name>
        <jsp-file>/view/user/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>registerPage</servlet-name>
        <jsp-file>/view/user/register.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>productDetailPage</servlet-name>
        <jsp-file>/view/main/product_detail.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>productCartPage</servlet-name>
        <jsp-file>/view/main/productCart.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>InvoiceHistoryPage</servlet-name>
        <jsp-file>/view/user/invoice_history.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>UserDetailPage</servlet-name>
        <jsp-file>/view/user/user_detail.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginPage</servlet-name>
        <url-pattern>/loginPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerPage</servlet-name>
        <url-pattern>/registerPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productDetailPage</servlet-name>
        <url-pattern>/product_detail_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productCartPage</servlet-name>
        <url-pattern>/product_cart_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceHistoryPage</servlet-name>
        <url-pattern>/invoice_history_page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailPage</servlet-name>
        <url-pattern>/user_detail_page</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
</web-app>
